* {
    box-sizing: border-box;
    text-align: center;
}

body {
    font-family: "arial", "Helvetica Neue", Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin: 0 auto; 
}

header, nav, section, aside, footer {
    background: #ebebeb;
}

article {
    color: #ebebeb;
    background: #777;
    padding: 10px;
    margin-top: 10px;
}

h1, p {
    color: #777;
    background: #ebebeb;
    margin-left: 15px;
    margin-right: 15px;
    padding: 15px;
}

section {
    width: 495px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    float: left;
}

header {
    margin-bottom: 20px;
    padding: 20px;
}

nav {
    padding: 20px;
}

aside {
    margin-top: 20px;
    float: right;
    width: 455px;
}

footer {
    clear: both;
    padding: 20px;
}

.col-container {
    display: table;
    width: 100%;
}

